* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    margin: 0;
    padding: 0
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.subheader {
    font-size: 1.2rem;
    font-style: italic;
}

section {
    padding: 20px 0;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.profile-img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    border: 3px solid #333;
}

p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    font-size: 1.1rem;
    margin: 10px 0;
}

ul li a {
    color: #333;
    text-decoration: none;
}

.main-content {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
