/* Flexbox Part 1 */

#flex-section1 ul {
    display: flex;
    justify-content: space-between; 
    padding: 0;
    list-style-type: none; 
    margin: 0; 
}

#flex-section1 li {
    flex: 1;
    text-align: center;
    margin: 15px;
}

#flex-section1 a.btn {
    display: block; 
    padding: 10px 20px;
    background-color: #eb2323;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

#flex-section1 a.btn:hover {
    background-color: #999; 
    color: #fff;
}

/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
    display: flex;
    justify-content: space-between; 
    padding: 0;
    list-style-type: none; 
    margin: 0; 
    flex-direction: row;
}

#flex-section2 li {
    flex: 1;
    padding: 10px;
    background-color: #c9c5c5;
    margin: 0px;
    text-align: center; 
    box-sizing: border-box;
}

#flex-section2 .item1 {
    order: 1;
}

#flex-section2 .item2 {
    order: 3;
}

#flex-section2 .item3 {
    order: 2;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100%;             
}

#flex-section3 .card {
    display: flex;
    flex-direction: column;   
    align-items: center;      
}

#flex-section3 .tags ul {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;          
    padding: 0;
    list-style-type: none;   
    margin-top: 10px;         
}

#flex-section3 .tags li {
    background-color: #f0f0f0; 
    padding: 5px 10px;        
    margin: 5px;             
    border-radius: 8px;       
    font-size: 14px;        
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
    display: grid;                  
    grid-template-columns: repeat(4, 1fr);  
    grid-auto-rows: 100px;           
    gap: 20px;                      
}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .grid {
    display: grid;                        
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr);     
    position: relative;                   
}

.gridboxblue {
    grid-column: 2 / 3;                   
    grid-row: 2 / 3;                      
    background-color: blue;               
    position: absolute;                   
    top: 0;
    left: 0;
}

.gridboxred {
    grid-column: 2 / 4;                   
    grid-row: 3 / 4;                      
    background-color: red;               
    position: relative;                  
    z-index: -1;                         
}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
    display: grid;                                     
    grid-template-columns: 2fr 1fr;                   
    grid-template-rows: 100px 300px 100px;            
    gap: 10px;                                        
}

#grid-section3 .box1 {
    grid-column: 1 / 3;                              
    grid-row: 1 / 2;                                
}

#grid-section3 .box2 {
    grid-column: 1 / 2;                           
    grid-row: 2 / 3;                                 
}

#grid-section3 .box3 {
    grid-column: 2 / 3;                               
    grid-row: 2 / 3;                                 
}

#grid-section3 .box4 {
    grid-column: 1 / 3;                              
    grid-row: 3 / 4;                                  
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
    display: inline-block;
    background-color: #ccc;
    color: #000;
    padding: 20px;
    text-decoration: none;
    transition: background-color 3s, color 3s; 
}

#transition-section .box a:hover {
    background-color: #cc0000;
    color: #fff;
    transition: background-color 0.5s, color 0.5s; 
}

/* end Transition Part */

